@using Blazored.LocalStorage
@inject ILocalStorageService localStorage

<div class="header">
    <h1 class="app-title">@AppTitle</h1>
    <i class="@icon" 
       @onclick="Toggle"></i>
</div>

@code {
    [Parameter]
    public string AppTitle { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<bool> ToggleState { get; set; }
    [Parameter]
    public string LightIcon { get; set; } = string.Empty;
    [Parameter]
    public string DarkIcon { get; set; } = string.Empty;
    private bool isDarkMode = false;
    private string icon = string.Empty;

    protected override async Task OnInitializedAsync() {
        isDarkMode = await localStorage.GetItemAsync<bool>("IsDarkModeEnabled");
        icon = isDarkMode ? LightIcon : DarkIcon;
    }

    private async Task Toggle() {
        isDarkMode = !isDarkMode;
        await localStorage.SetItemAsync<bool>("IsDarkModeEnabled", isDarkMode);
        icon = isDarkMode ? LightIcon : DarkIcon;
        await ToggleState.InvokeAsync(isDarkMode);    }
}